@import "tailwindcss"; 

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

:root {
  --font-sans: 'Domine', serif;
  --background: #ffffff;
  --foreground: #171717;

  --bg: #0b0b0d;
  --panel: #121216;
  --text: #e6e6ea;
  --subtext: #9a9aa3;
  --accent: #8b5cf6;
  --accent2: #6d28d9;
  --border: #23232a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-sans);
  background: var(--bg);
}










